@import "antd/dist/antd.css";

.div_wrapper{
    margin-top: 2px;
    margin-left: 15px;
    width: 98vw;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #00b33c;
}

.ant-tabs-tab.ant-tabs-tab:hover .ant-tabs-tab-btn {
    color: #00b33c;
}

.div_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid #efefef; */
}

.div_cards{
    width: 34%;
}

.card{
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.centrar{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_interna{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

span{
    font-size: 24px;
    font-weight: 600;
}

.img{
    margin-top: 10px;
    margin-left: -50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.divider{
    margin-top: 20px;
    font-size: 100px;
}
