@import "antd/dist/antd.css";

:root{
    border-bottom-style: #00b33c;
}

.div_wrapper{
    margin-top: 2px;
    margin-left: 15px;
    width: 98vw;
    
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #00b33c;
    
}

.ant-tabs-tab.ant-tabs-tab:hover .ant-tabs-tab-btn {
    color: #00b33c;
}

.ant-tabs-nav-list{
    color: #00b33c;
}

.div_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}

.div_cards{
    width: 34%;
    
}

.card{
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
}

.ultima_card{
    border-right: 0px;
}

.centrar{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card_interna{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    
}

span{
    font-size: 24px;
    font-weight: 600;
    
}

.img{
    margin-top: 10px;
    margin-left: -50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    
}

.divider{
    margin-top: 20px;
    font-size: 100px;
}

/* div{
    border: 1px dashed red;
} */
