@import "antd/dist/antd.css";

.div_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    border: 3px solid #efefef;
}

.div_cards{
    width: 34%;
}

.card{
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.centrar{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_interna{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

span{
    font-size: 24px;
    font-weight: 600;
}

.img{
    margin-top: 10px;
    margin-left: -50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.divider{
    margin-top: 20px;
    font-size: 100px;
}