@import "antd/dist/antd.css";

body{
    overflow: hidden;
}

/* .ant-tabs-tab {
    padding: 12px 10px 4px 10px !important;
    font-size: 14px;
}

.ant-tabs-nav-list {
    color: #0000 !important;
} */